*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.formInfo{
  width: 300px;
  align-items: center;
  margin: 0 auto;
}

.displayInfo{
  text-align: center;
  margin-top: 20px;
}